.section-contact {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 80rem;
  margin: 4rem auto 0;
  flex-wrap: wrap;
}
.contact-content {
  background-color: #100d25c8;
  padding: 2rem;
  border-radius: 2rem;
  flex: 1;
}
.contact-content p {
  font-size: 18px;
  color: #aaa6c3;
  font-weight: 500;
  text-transform: uppercase;
}
.contact-content h3 {
  color: #ffff;
  font-size: 60px;
}
.contact-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact-label {
  display: flex;
  flex-direction: column;
}
.contact-label span {
  margin-bottom: 12px;
  color: #fff;
}
.contact-label input {
  background-color: #151030;
  color: #fff;
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
}
.contact-label textarea {
  background-color: #151030;
  color: #fff;
  outline: none;
  padding: 1rem;
  width: 100%;
  resize: none;
  height: 10rem;
  border: none;
  border-radius: 0.5rem;
}
input::placeholder,
textarea::placeholder {
  color: #aaa6c3;
}
.contact-button {
  background-color: #151030;
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  width: fit-content;
  border-radius: 0.5rem;
  padding: 0.5rem 2.25rem;
  font-weight: 800;
  font-size: 18px;
}
.earth-wraper {
  height: 550px;
  width: 50%;
}
footer {
  margin: 22px 0;
  padding-top: 10px;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-icons img {
  width: 30px;
  cursor: pointer;
  transition: 0.2s;
}
.footer-icons img:hover {
  scale: 1.2;
}
@media (max-width: 1200px) {
  .contact-content {
    width: 90%;
  }
  .earth-wraper {
    height: 400px;
  }
}
@media (max-width: 720px) {
  .section-contact {
    flex-direction: column;
  }
  .contact-content {
    width: 100%;
  }
  .earth-wraper {
    height: 350px;
    width: 70%;
    margin-bottom: 1rem;
  }
}
