.logo {
  height: 4rem;
  width: auto;
  filter: invert();
}
.logo-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-wraper {
  position: fixed;
  padding: 0 4rem;
  width: 100%;
  background-color: #050816c8;
  backdrop-filter: blur(20px);
  z-index: 99;
}
.navbar {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  list-style: none;
}
.a-link {
  color: #aaa6c3;
  font-size: 22px;
  font-weight: 500;
}
.a-link:hover,
.text-active {
  color: white;
}
.responsive-nav {
  display: none;
}
@media (max-width: 900px) {
  .logo {
    height: 3.5rem;
  }
  .navbar-wraper {
    padding: 0 0.5rem;
  }
  .nav-list {
    display: none;
  }
  .responsive-nav {
    display: block;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .responsive-nav-img {
    width: 28px;
    height: 28px;
    cursor: pointer;
  }
  .nav-open-wraper {
    background: linear-gradient(to right, #434343, #0000006a);
    position: absolute;
    top: 60px;
    padding: 6px;
    min-width: 140px;
    border-radius: 8px;
    z-index: 10;
  }
  .nav-open-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .a-link {
    color: #aaa6c3;
    font-size: 22px;
    font-weight: 500;
  }
}
