*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #050816;
}
a {
  text-decoration: none;
}
.hero-section {
  height: 100vh;
  height: 100svh;
  overflow-y: hidden;
  background-image: url(/src/assets/herobg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contact-canvas {
  position: relative;
  z-index: 0;
}
