*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #050816;
}
a {
  text-decoration: none;
}
.hero-section {
  position: relative;
  height: 100vh;
  height: 100svh;
  overflow-y: hidden;
  background-image: url(/src/assets/herobg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contact-canvas {
  position: relative;
  z-index: 0;
}
section {
  padding: 66px 1rem 0;
}
@media (max-width: 720px) {
  section {
    padding: 66px 0.5rem 0;
  }
}
